.im1{
    text-align: left;
}
.im2{
    text-align: center;

}
.im3{
    text-align: right;
}
.im4{
    text-align: left;

}
.im5{
    text-align: center;
    
}
.im6{
    text-align: end;
    
}
.titulo1{
    color: blue;
    text-align: center;
}
.inp1{
    text-align: center;
}
.inp2{
    text-align: center;
}
.inp3{
    text-align: center;
}